# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Temporary files
*.tmp
*.log

# Local archive files
archive/
*.zip

# Operating system files
.DS_Store
Thumbs.db
